<h3>Articles</h3>

<div *ngFor="let article of articles" class="blog_article">
    <a [routerLink]="['/article', article.nid[0].value]"><h4>{{ article.title[0].value }}</h4></a>
    <div [innerHTML]="getBody(article)"></div>
    <div>Tags: <a [routerLink]="['/tags', article.field_tags[0].target_id]">{{ getTagName(article.field_tags[0].target_id) }}</a></div>
</div>

<ul *ngIf="total_pages.length > 1">
    <li *ngFor="let page of total_pages; let index = index"><a [routerLink]="['/main', index]">{{index + 1}}</a></li>
</ul>

