{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}
<base href="{{ base_href }}/">
<div class="angular_blog_demo">
    <angular-blog-demo>{{ content }}</angular-blog-demo>
</div>